	*{ margin:0;
	   padding:0;
	}

	body {
		background:DarkRed;
	}

	header, .main, footer{
	background:#fff;
	width:90%;
	max-width:1000px;
	margin:20px auto;
	}

	nav a{
		background: Lightgray;
		width: 40px;
		margin-right: 80px;

	}

	header{
		background:orange;
	}

	.main .articles {
		width:68,5%;
		margin-right:1.5%;
		float:left;
	}

	.main .articles article {
		padding:20px;
		background:#e6e6e6;
		margin-bottom:20px;
	}

	aside {
		width:20%;
		background:blue;
		float:left;
		padding:20px;
		box-sizing:border-box;
		overflow: hidden;	
	}

	.blanco{
		color:white;
	} 

	a {
	color:green;
	}

	footer {
	background:orange;
	clear:both;
	padding:10px 0px;
	}

	a {
		color: #CC0000
	}