*{
	margin:0;
	padding:0;
}

body {
	background: #202020;
	text-align:justify;
}

header{
	color: white;
	background: DarkRed;
	text-align: center;
}

header, .principal_General, footer{
	width: 90%;
	max-width: 1100px;
	margin: 20px auto;
}

.principal_General article, div {
	padding: 20px;
	background: LightGray;
	margin-bottom: 20px; 
}

#central p {
	overflow: auto;
	width: 260px;
	height: 500px;
	margin: 20px 21px;
	padding: 20px;
	display: inline-block;
	border: dotted;

}

footer {
	background: DarkRed;
	color: white;
	clear: both; /*limpia los float:letf, sala la linea como invisible*/
	padding: 10px 0px;
	text-align: center;
}

h4 a{
	color: white;
}

img{
	margin: 10px 10px auto;	
}

#imagen{
	background-color: #202020;
}

audio { 
   display:none;
}