.cajap {
    width: 1495px;
    height: 2438px;
    position: relative;
    display: block;
}

.cajabarra {
    width: 1500px;
    height: 60px;
    background: rgb(10, 174, 141);
}

.cajaloguito {
    width: 116px;
    height: 20px;
    top: 6px;
    bottom: 3px;
    left: 60px;
    position: absolute;
}

.cajacon1 {
    top: 4px;
    width: 162px;
    height: 50px;
    left: 360px;
    position: absolute;
}

.cajamision {
    top: 6px;
    width: 113px;
    height: 50px;
    top: 4px;
    left: 550px;
    position: absolute;
}

.cajavision {
    width: 113px;
    height: 50px;
    top: 4px;
    left: 663px;
    position: absolute;
}

.cajaproducto {
    width: 162px;
    height: 50px;
    top: 4px;
    left: 776px;
    position: absolute;
}

.cajaencuentra {
    top: 4px;
    width: 162px;
    height: 50px;
    left: 940px;
    position: absolute;
}

.cajaadministrador {
    top: 4px;
    width: 162px;
    height: 50px;
    left: 1130px;
    position: absolute;
}

.cajaclientes {
    top: 4px;
    width: 162px;
    height: 50px;
    left: 1300px;
    position: absolute;
}

.cajalogo {
    background: url("../imagenes/inicio.jpg") no-repeat;
    width: 1500px;
    height: 610px;
    position: relative;
}

.caja1 {
    background: url("../imagenes/fondo1.png") repeat;
    width: 1500px;
    height: 100px;
    text-align: center;
}

.posicion {
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    top: 90px;
}

.cajamenu {
    width: 1500px;
    height: 300px;
    position: relative;
}

.cajaconcepto {
    width: 1500px;
    height: 500px;
    position: relative;
}

.caja4 {
    width: 250px;
    height: 50px;
    left: 300px;
    bottom: 40px;
    top: 600;
    position: absolute;
    font-family: fantasy;
    text-align: center;
}

.cajaencuentranos {
    width: 1500px;
    height: 500px;
    position: relative;
}

.caja6 {
    width: 322px;
    height: 74px;
    left: 571px;
    bottom: 60px;
    top: 210px;
    position: absolute;
    border: solid white;
}

.cajafin {
    background: url("../imagenes/fin.png") no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.caja8 {
    width: 366px;
    height: 238px;
    left: 595px;
    bottom: 60px;
    top: 70px;
    position: absolute;
    border: solid white;
}

.cajaimgconcep {
    background: url("../imagenes/imconcep.jpg") no-repeat;
    width: 1500px;
    height: 180px;
    position: relative;
}

.cajaimgconcepss {
    background: url("../imagenes/conceptoss.png") no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajaimgfondo1mision {
    background: url("../imagenes/fondomision1.jpg")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajafondoconcepss {
    background: url("../imagenes/fondo2.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajafondomision {
    background: url("../imagenes/fondomision.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajaimgfondovision {
    background: url("../imagenes/fondovision.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajafondovision1 {
    background: url("../imagenes/fondovision1.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajafondocontacto {
    background: url("../imagenes/contacto.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajafondomapa {
    background: url("../imagenes/mapa.png")no-repeat;
    width: 1500px;
    height: 500px;
    position: relative;
}

.cajadelmapa {
    left: 320px;
    position: absolute;
}

.cajaimgconcepto {
    background: url("../imagenes/imgconcepto.jpg")no-repeat;
    width: 500px;
    height: 334px;
    left: 800px;
    bottom: 60px;
    top: 70px;
    position: absolute;
}

.cajaloguito1 {
    width: 116px;
    height: 20px;
    top: 0px;
    bottom: 3px;
    right: 430px;
    position: relative;
}

.cajabienvenido {
    width: 116px;
    height: 20px;
    top: 80px;
    bottom: 3px;
    right: 430px;
    position: relative;
}

.cajacerrar {
    width: 116px;
    height: 20px;
    top: -60px;
    bottom: 3px;
    left: 460px;
    position: relative;
}

.cajaloguito2 {
    width: 116px;
    height: 20px;
    top: 20px;
    bottom: 3px;
    left: 10px;
    position: relative;
}