@charset "utf-8";
/* CSS Document */

html{
	/* background-color: #68390F;*/
}

body{
	background-color: wheat;
	text-align: center;
	margin: 3%;
	height: 700px;
	padding: 0;
	background-image: url("../imagenes/pedidos.png")

}
header{
	background-color: teal;
}
form#Factura {
  width: 80%;
  max-width: 80%;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
}
table {
	background-color: #F0D9A1;
	color: black;
	/*border-collapse: collapse;*/
}

td, th{
	background-color: #F0D9A1;
	
}

.tabtexto{
	width: 98%;
	background-color: #F0D9A1;
}
caption{
	color: #3E2F03;
	font-size: 30px;
}

table#tablaTotal{
	background-color: #CFC763;
	color: #7A4809;
	margin-right:50%;
	margin-left: 50%;
	width: 10%;
}

.btnAniadir{
	float: left;
	margin-left: 14%;
	margin-top: 10%;
	background-color: #463004;
	color: white;
	width: 120px;
		height: 70px;
}

.btnEliminar{
	float: left;
	margin-left: 8%;
	margin-top: 10%;
	background-color: #463004;
	color: white;
	width: 120px;
		height: 70px;
}

.btnCalcular{
	float: right;
	margin-right: 10%;
	margin-top: 10%;
	background-color: #463004;
	color: white;
		width: 120px;
		height: 70px;
}

table#tablaf{
	background-color: #CFC763;
	color: #7A4809;
	margin-right:25%;
	margin-left: 51%;
	width: 49%;
}

